.topnav {
  background-color: #504C46;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #FBF3E4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FF5050;
  color: #FBF3E4;
}

.topnav a.active {
  background-color: #6f87ff;
  color: #FBF3E4;
}

.topnav .icon {
  display: none;
}